@model ChatApplication.Models.Message;
@*@model IEnumerable<ChatApplication.Models.Message>*@

@{
    ViewData["Title"] = "Home Page";
    var userName = User.Identity.Name;
}

<script type="text/javascript">
    let messages = [];
        function pushItem(sid, rid, msg) {
            messages.push({sid, rid, msg});
        }

        @foreach(var data in ViewBag.Messages) {
            @:pushItem('@data.UserName', '@data.Receiver', '@data.Text');
        }
</script>

<div id="userData" class="@ViewBag.Email @ViewBag.Firstname @ViewBag.Lastname @ViewBag.Name"></div>

<div class="container1" style="height: 600px;">
    <div class="row">
        @*  Searchbar Box   *@
        <section class="discussions">
            @*  Searchbar Header    *@
            <div class="discussion search">
                <div class="searchbar">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" placeholder="Search here... " id="search" />
                </div>
            </div>

            @* Chats logs *@
            @foreach (var user in ViewBag.AllUsers)
            {
                if (user.UserName.ToString().ToLower() == ViewBag.Email.ToString().ToLower())
                    continue;

                <div class="discussion" style="height: 90px; " id="@user.UserName">
                    <div class="photo" style="background-image: none">
                        <div class="online"></div>
                    </div>

                    <div class="desc-contact">
                        <p class="name">@user.FirstName @user.LastName</p>
                        @* Fetch Last Message From user with email user.UserName *@
                        <p class="message"></p>
                    </div>

                    @*<div class="timer">3 min</div>*@
                </div>
            }
        </section>

        @* Chat Box *@
        <section class="chat" id="chatBox" style="height: 600px">
            @* Chat Header *@
            <div class="header-chat" style="width: 110%">
                @* User Icon *@
                <i class="icon fa fa-user-o" aria-hidden="true"></i>
                @* Name *@
                <p class="name" id="recieverName"></p>
            </div>

            @* Msg Box *@
            <div class="messages-chat" id="msgs" style="width: 110%; overflow: scroll;">
                @*@foreach (var msg in ViewBag.Messages)
                {
                    Console.WriteLine("Reciever Id: " + @ViewBag.ReceiverID);
                    if (userName == msg.UserName)
                    {
                        <div class="message">
                            <div class="response">
                                <p class="text"> @msg.Text </p>
                            </div>
                        </div>
                    }

                    if (userName == msg.Receiver)
                    {
                        <div class="message">
                            <p class="text"> @msg.Text </p>
                        </div>
                    }
                }*@
            </div>

            @*Text Box*@
            <div class="footer-chat">
                <input type="text" id="msg" class="write-message" />
                <button id="myLink" class="icon send fa fa-paper-plane-o" href="./Home/Create">&nbsp; Send</button>
            </div>
        </section>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    @*<script>
        var temporary = @ViewBag.Messages;
        for (var msg of temporary)
            console.log(msg);
    </script>*@
}

@section scripts {
    @* Client-Side SignalR Library *@
    <script src="~/js/signalr.js"></script>

    @* JQuery & Ajax*@
    <script src="~/js/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    @* Script to handle messages *@
    <script src="~/js/chat.js"></script>
}